<header>
  <h1>Delicias de la Jara</h1>
</header>
<h3>TRADICIÓN FAMILIAR DESDE 1874 </h3>
<div class="container-fluid anchor" id="about">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4" id="profile-img">
      <%= image_tag("Logo.jpg", class: "img-responsive") %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4" id="intro">
      <h3>El trabajo de una Tahona</h3>
      <p>Un lugar: Peraleda de San Román (Cáceres)</p>
      <p>Una historia:"La abuela Micaela" comienza a trabajar en el negocio familiar, a principios de 1874 elaborando, junto al pan en horno de leña, los típicos dulces tan apreciados en la Comarca de la Jara Extremeña</p>
      <p>Una pasión: Hoy la historía sigue su curso pero, después de 140 años, los tataranietos de Micaela "hemos parado el tiempo en el proceso de elaboración de nuestros productos".Seguimos con las mismas recetas y los mismos ingredientes naturales, que nos han llegado de genereación en generación tales como aceite de oliva virgén, miel de jara,almendras y naranjas entre otros, a los que añadiendo un buen "aderezo de cariño", hacen posible que que nuestras perrunillas, pastas de almendras, pestiños y rosquillas...sean considerados productos de calidad Gourmet</p>
    </div>
  </div> <!-- /row-->
</div> <!-- /container-->
