<div class="container top-page">
<<<<<<< HEAD
  <h1>About BB</h1>
  <p>New to Berlin? Yay! You probably don't know this yet but cycling is the best way to get around Berlin.</p>
  <h2>Pros</h2> 
  <p>Inexpensive, environmentally-friendly, hypercool, healthy... but above all: it's the best way to discover and enjoy your new city gaining full insight of distances and dimensions. Berlin isn't a huge city but it's much bigger than many think.</p>
  <h2>Cons</h2>
  <p>We are still working on this...</p>
  <h2>Come to see us</h2>
  <p>We have used and brand new bikes in stocK ready to cycle.</p>
  <p>All types of bicycles: road, mountain bikes, triathlon, fixed gear, kids…</p>
  <h2>We are flexible and make it easy for you</h2>
  <p>You may purchase your bike with us or just rent out from us. </p>
  <p>You may pay at once or in easy instalments.</p>
=======
  <h1>TRADICIÓN FAMILIAR DESDE 1874 </h1>
  <p>( El trabajo de una Tahona).</p>
  <h2>Un lugar</h2> 
  <p>Peraleda de San Román (Cáceres).</p>
  <h2>Una historia</h2>
  <p>"La abuela Micaela" comienza a trabajar en el negocio familiar, a principios de 1874 elaborando, junto al pan en horno de leña, los típicos dulces tan apreciados en la Comarca de la Jara Extremeña</p>
  <h2>Una pasión</h2>
  <p>Hoy la historía sigue su curso pero, después de 140 años, los tataranietos de Micaela "hemos parado el tiempo en el proceso de elaboración de nuestros productos".Seguimos con las mismas recetas y los mismos ingredientes naturales, que nos han llegado de genereación en generación tales como aceite de oliva virgén, miel de jara,almendras y naranjas entre otros, a los que añadiendo un buen "aderezo de cariño", hacen posible que que nuestras perrunillas, pastas de almendras, pestiños y rosquillas...sean considerados productos de calidad Gourmet</p
  
>>>>>>> master
</div>
