<div class="container top-page">
  <h1>About BB</h1>
  <p>New to Berlin? Yay! You probably don't know this yet but cycling is the best way to get around Berlin.</p>
  <h2>Pros</h2> 
  <p>Inexpensive, environmentally-friendly, hypercool, healthy... but above all: it's the best way to discover and enjoy your new city gaining full insight of distances and dimensions. Berlin isn't a huge city but it's much bigger than many think.</p>
  <h2>Cons</h2>
  <p>We are still working on this...</p>
  <h2>Come to see us</h2>
  <p>We have used and brand new bikes in stocK ready to cycle.</p>
  <p>All types of bicycles: road, mountain bikes, triathlon, fixed gear, kids…</p>
  <h2>We are flexible and make it easy for you</h2>
  <p>You may purchase your bike with us or just rent out from us. </p>
  <p>You may pay at once or in easy instalments.</p>
</div>
