<header>
	<h1>Delicias de la Jara</h1>
</header>
<div class="container contact-info">
	<p>¡¡No dudes en llamarnos!!</p>
	<p>Calle sin nombre</p>
	<p>80104 Extremadura</p>
	<p>Email: info@delicias de la jara.com</p>
</div>