<h1>Welcome to Delicias de la Jara</h1>
  <h2 class="center">Tu nueva <strong>tienda</strong> online <strong>de</strong> productos típicos de la Jara <strong style="color: red;">Extremeña</strong></h2>
  <%= image_tag("Logo.jpg", class: "img-responsive img-cover") %>
</div>