<div class="container top-page">
<<<<<<< HEAD
  <h1>Welcome to Bike Berlin</h1>
  <h2 class="center">Your app for <strong>new</strong> and <strong>used</strong> bikes in <strong style="color: red;">Berlin</strong></h2>
  <%= image_tag("almendra.jpg", class: "img-responsive img-center") %>
=======
  <h1>Welcome to Delicias de la Jara</h1>
  <h2 class="center">Tu nueva <strong>tienda</strong> online <strong>de</strong> productos típicos de la Jara <strong style="color: red;">Extremeña</strong></h2>
  <%= image_tag("Logo.jpg", class: "img-responsive img-cover") %>
>>>>>>> master
</div>