<h2>Featured Product:</h2>

<div class="container-fluid" id="carousel-container"> 
  <div id= "indice-carousel" class="carousel slide" data-ride="carousel">
   	<!-- Indicators -->
    <ol class="carousel-indicators" id="indicadores">
    	<% @products.each do |product| %>
    		<li data-target="#carousel-example-generic" data-slide-to="<% @products.find_index %>" class="<%= "active" if product == @products.first %>"></li>
    	<% end %>
  	</ol>
     
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
    	<% @products.each do |product| %>
      	<div class="item<%= " active" if product == @products.first %>">
        	<%= image_tag(product.image_url, class: "img-responsive carousel-image") %>
        	<div class="carousel-caption">
            <%= link_to product.name, product %>
        	</div>
      	</div> <!--end item--> 
    	<% end %>
  	</div>

		<!-- Controls -->
    <a class="left carousel-control" href="#indice-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> <!--fin indice-carousel-->
</div> <!--fin del carousel-container-- >    


