<div class="container alert_thankyou">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body">
        <p>Thank you. We have received your message and will respond as soon as possible.</p>
        <div class="form-group">
          <%= link_to 'Back', products_path, class: "btn btn-default" %>
    </div>
    </div><!-- / panel-body -->
      </div><!-- / panel -->
    </div><!-- / col -->
  </div><!-- / row -->
</div>