<div class="col-xs-12 col-sm-6 col-md-3 display-user">
  <div class="display-product">
    <p>
      <strong>First name:</strong>
      <%= @user.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @user.last_name %>
    </p>
    <div class="product-links">
      <%= link_to 'Edit', edit_user_path(@user) %> 
      <%= link_to 'Back', users_path %>
    </div>
  </div>
</div>