
      <div class="col-sm-2 col-md-4" product-overview">
        <h1><%product.name %></h1>
        <% if @product %>
        <%= image_tag(@product.image_url, class:'img-responsive') %>
        <% end %>
        <p> Price: &euro;<%= product.price %></p>
        <p> Color: <%= product.color %></p>
        <p><%= truncate(product.description) %></p>
        <br>
      </div>
      
     
    

   