/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $dark-grey: #222;
 $transparent-grey: rgba(.51,.51,.51,0.2);
 $nav-color: #1b1f23;
 $header-font: 'Oswald', sans-serif;
 $body-font: 'Roboto', sans-serif;


/***

 h1,h2 {
   font-family: $header-font;
 }
 p {
   font-family: $body-font;
   font-size: 1.25em;
 }

 ***/

#navegacion {
   margin-bottom: 0;
   height: 50px;
   text-transform: uppercase;
   border-bottom: none;
   background: $nav-color;
   font-family: $header-font;
   font-weight: 600;
   z-index: 9999;
   font-size: 1.25em;
 }

.navbar-default .navbar-brand{
   color: #fff;
   -webkit-transition: all 0.4s ease-in-out 0s;
   transition: all 0.4s ease-in-out 0s;
 }

 #navegacion li > a {
  position: relative;
  color: #fff;
  padding-bottom: 10%;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

 .navbar-default .navbar-brand:hover, #navegacion li > a:hover {
  color: #ccf;
}

 #navegacion li > a:before {
   content: "";
   position: absolute;
   width: 100%;
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #ccf;
   visibility: hidden;
   -webkit-transform: scaleX(0);
   transform: scaleX(0);
   -webkit-transition: all 0.4s ease-in-out 0s;
   transition: all 0.4s ease-in-out 0s;
 }

 #navegacion li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a, a:visited {
  color: #fff;
}

h2 {
  margin-top: 10%;

}

// Footer Styles


#footer{  
  width: 100%;  
  position: absolute;
  bottom: 0px;
  background-color: black;
  font-family:Arial, sans-serif;
  left:0px;
}
#copyright{
  color: white;
  float: center;
  padding: 10px;

}


