/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-container {
  min-height: 100%;
  position: relative;
}

.content {
  padding-bottom: 100px;
  padding-top: 10px;
}
/**** Navigation ***/

.navbar {
  background-color: #D2D7D9;
}

.navbar-nav li {
  padding: 5px;
  display: inline;
  font-family: sans-serif;
  font-style: bold;
  font-size: 1.5em; 
  margin-left: 20px;
  margin-top:15px;

}

.navbar-brand {
  padding: 0px;
}

#logo {
  height: 60px;
  padding: 15px;
  width: auto;
}

li {
  font-family: Helvetica, sans-serif;
  padding: 15px 20px;
  color: #184161;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav>li>a {
  padding: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #184161;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #184161;

}

/**** Footer ****/

footer {
  color: #858F93;
  padding: 15px;
  font-family: Helvetica, sans-serif;
  background-color: #D2D7D9;
  position: absolute;
  width: 100%;
  height: 115px;
  left: 0;
  bottom: 0;
}

hr {
  border-color: #858F93;
  width: 90%;
}

footer p {
  display: inline-block;
}

.right {
  float: right;
}

/* Login Form */
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

