// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	line-height: 1.5em;
	font-size: 1.5rem;
}

h1 {
	font-family:helvetica;
	color:blue;
	text-align:center;
	padding-top:1.5em;
}


/****** navbar *****/



.navbar{
	background-color: blue;	
}



.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 800px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: black;
}



/****** navbar *****/

#footer{
	color: white;
	float: center;
	padding: 10px;

}

#footer-navbar{	
	width: 100%;	
	position: fixed;
	bottom: 0px;
	background-color: black;
	font-family:Arial, sans-serif;
}