// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//////////////////////static pages index //////////////////////////////
/*cover image*/
.img-cover {
  border-radius: 5px;
  width: 70%;

  /*centering image*/
  display: block;
  margin: 0 auto;
<<<<<<< HEAD

}


////////////////////// products index styles ////////////////////////////
// featured products carousel

.featured {
  width: 100%;
  background-image: url("berlin-bike-routes.jpg");
  border-bottom: 1px solid #97a6aa;
  background-attachment: fixed;
}
.carousel-control { color: #ff005a;}

=======

}


////////////////////// products index styles ////////////////////////////
// featured products carousel

.featured {
  width: 100%;
  border-bottom: 1px solid #97a6aa;
}
.carousel-control { color: #ff005a;}

>>>>>>> master
a.right.carousel-control, 
a.left.carousel-control {background:none;}

.carousel-inner {
  border: 5px solid #fbfbfb;
  border-radius: 10px;
  background-color: #fff;
}

.caption {
  color: #ff005a;
  text-align: center;
  font-size: 1.5em;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
<<<<<<< HEAD

=======
.product-length { height: 600px; }
>>>>>>> master
////////////////// thank you page///////////////////////////////////////////////////

.alert_thankyou {
  margin-top: 200px;
}