// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1,
h2 {
  font-family: Helvetica, Arial, Sans Serif;
  color: #184161;
  text-align: center;
}

.image-row {
  max-width: 80%;
  margin: 0 auto;
  padding: 2em 0;
}

.contact-info {
  text-align: center;
  padding: 2em 0;
}

main {
  padding: 2em;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left {
  color: #D2D7D9;
}

.carousel-caption {
  position: relative;
  color: #858F93;
  text-shadow: none;
  font-size: 2em;
  right: auto;
  left: auto;
}

.carousel-indicators li {
  background-color: #858F93;
  padding: 3px;
  border: none;
}

.carousel-indicators .active {
  background-color: #D2D7D9;
}

.carousel-image {
  height: 550px;
  max-height: 550px;
  width: auto;
  margin: auto;
}

a:hover {
  text-decoration: none;
}