// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form {
  color: #888;
  padding: 20px;
  float: none;
  margin: auto;
  top: 40px;
}
.login-form form {
  background: #FFF;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
}
.login-actions input {
  background: #449D44;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #FFF;
  box-shadow: 1px 1px 5px #B6B6B6;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #4f4e4d;
  cursor: pointer;
  width: 100%;
}
.login-actions input:hover {
  background: #8BC98B;
}
.login-field input {
  border: 1px solid #DADADA;
  color: #888;
  height: 40px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 100%;
  font-size: 12px;
  line-height:15px;
  box-shadow: inset 0px 1px 4px #ECECEC;
  -moz-box-shadow: inset 0px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.login-field label {
  margin: none;
}
.log-links {
  text-align: center;
  margin: 15px;
}
.log-links a {
  color: #FFF;
  background-color: #484848;
  box-shadow: 1px 1px 5px #B6B6B6;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.1em;
  padding: 5px;
  margin-bottom: 5px;
}
.log-links a:hover {
  color: #111;
  font-size: 1.2em;
  text-decoration: none;
  background-color: #FFF;
  transition: color, background-color 600ms;
  -webkit-transition: color, background-color 600ms;
  text-shadow: 1px 1px 1px #625F5F;
}
.remeber-label {
  display: inline-block;
  padding-left: 10px;
}
.cancel-account {
  padding-top: 40px;
  text-align: center;
}
.btn-delete-acct {
  margin: 10px;
}
.edit-user-title {
  margin: 0;
  margin-top: 10px;
}
.display-user {
  float: none;
  margin: auto;
}
.back-link {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.back-link a:hover{
  text-decoration: none;
  background: none;
  color: #000;
}
