<div class="product-reviews">
    <% @comments.each do |comment| %>
        <%= render partial: comment %>
    <% end %>
    <!-- render page links in the view: -->
	<div class="apple_pagination">
      <%= will_paginate @comments %>
    </div>
</div>