<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

     <meta name="viewport" content="width=device-width, initial-scale=1">
     <%= csrf_meta_tags %>
  </head>

  <body>
  	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      
      <div class="nabar-header">
        <button type="button" 
                class="navbar-toggle collapsed" 
                data-toggle="collapse"
                data-target="navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="incon-bar"></span>
          <span class="incon-bar"></span>
          <span class="incon-bar"></span>
        </button>
      </div> <!--end navbar-header-->

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="">Home</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">About</a></li> 
                                                  
        </ul>
      </div>
    </div>
  </nav>      

    <%= yield %>

    <footer  id="copyright-navbar">
      <h5 id="copyright">&copy Berlin Bikes 2017</h5>
    </footer>
 

  </body>
</html>
